.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #d4adfc;
  box-shadow: 0 0 20px rgba(246, 243, 247, 0.178);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.app-name {
  font-size: 20px;
  font-weight: bold;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.search-box {
  width: 360px;
  padding: 12px;
  border-radius: 18px;
  border: none;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.profile-icon {
  font-size: 24px;
  margin-left: 10px;
}

/* Add any additional styles as needed */
